.SudokuCell {
  width: 30px;
  height: 30px;
  box-sizing: content-box;
}

.SudokuCell input {
  margin: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: inherit;
}

.SudokuCell input[type="text"]:hover {
  cursor: pointer;
}

.SudokuCell input[type="text"]:focus {
  outline: 0px;
  border: 3px solid orange;
  caret-color: transparent;
}

.SudokuCell:disabled {
  cursor: default;
  background-color: black;
}
